<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-lg-5 content mb-2 mb-md-5">
			<h1 class="text-center font-galada"><%=poem.title%></h1>
			<p class="lead text-center font-galada"><%=poem.body%></p>
		</div>
		<div class="col-lg-5 content mb-2 mb-md-5 left-margin">
			<h1 class="text-center font-galada">মন্তব্য</h1>
			<div class="addComments" style="margin-bottom: 15px;">
				<form action="/poems/<%=poem.id%>/comments" method="POST">
					<div class="form-group">
						<textarea class="form-control" name="comments[title]" id="poemBody" rows="3"></textarea>
					</div>
					<div class="button-center">
						<button type="submit" class="btn btn-primary">Post</button>
					</div>
				</form>
			</div>
			<% poem.comments.forEach(function(comment){ %>
				<div class="card full-width-responsive">
					<div class="card-body" style="padding-bottom: 5px;">
						<div class="row">
							<div class="col-3">
								<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
								<!-- Days, minutes or hours based on the time that comment was posted -->
								<% if(moment.duration(moment(new Date()).diff(comment.createdDate)).hours() === 0){ %>
									<% if(moment.duration(moment(new Date()).diff(comment.createdDate)).minutes() <= 1){ %>
										<p class="text-secondary text-center font-size-responsive">
											<%= moment.duration(moment(new Date()).diff(comment.createdDate)).minutes() %> minute ago
										</p>
									<% }else{ %>
										<p class="text-secondary text-center font-size-responsive">
											<%= moment.duration(moment(new Date()).diff(comment.createdDate)).minutes() %> minutes ago
										</p>
									<% } %>
								<% }else if(moment.duration(moment(new Date()).diff(comment.createdDate)).days() === 0){ %>
									<% if(moment.duration(moment(new Date()).diff(comment.createdDate)).hours() === 1){ %>
										<p class="text-secondary text-center font-size-responsive">
											<%= moment.duration(moment(new Date()).diff(comment.createdDate)).hours() %> hour ago
										</p>
									<% }else{ %>
										<p class="text-secondary text-center font-size-responsive">
											<%= moment.duration(moment(new Date()).diff(comment.createdDate)).hours() %> hours ago
										</p>
									<% } %>
								<% }else{ %>
									<% if(moment.duration(moment(new Date()).diff(comment.createdDate)).days() === 1){ %>
										<p class="text-secondary text-center font-size-responsive">
											<%= moment.duration(moment(new Date()).diff(comment.createdDate)).days() %> day ago
										</p>
									<% }else{ %>
										<p class="text-secondary text-center font-size-responsive">
											<%= moment.duration(moment(new Date()).diff(comment.createdDate)).days() %> days ago
										</p>
									<% } %>
								<% } %>
								
							</div>
							<div class="col-9">
								<span>
									<a href="#"><strong><%=comment.author.name%></strong></a>
									<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
									<span style="float: right; position: relative; bottom: 7px;">
										<li class="nav-item dropleft" style="display: inline-block">
										  <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
											aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
										  <div class="dropdown-menu">
											<a class="dropdown-item" href="/poems/<%=poem.id%>/comments/<%=comment.id%>/edit">Edit</a>
											<form id="form-delete" action="/poems/<%=poem.id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
												<a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('form-delete').submit();">Delete
												</a>
											</form>
										  </div>
										</li>
									</span>
									<%}%>
								</span>
							    <div style="margin-bottom: 5px;"></div>
								<p><%=comment.title%></p>
								<div>
									<a class="float-right btn btn-outline-primary ml-2" href="/poems/<%=poem.id%>/comments/<%=comment.id%>/reply"> <i class="fa fa-reply"></i> Reply</a>
									<form action="/poems/<%=poem.id%>/comments/<%=comment.id%>/likes" method="POST" style="display: inline;">
										<button class="float-right btn text-white btn-danger">
											<i class="fa fa-heart"> <%= comment.likes.length === 0 ? '' : comment.likes.length%></i>
										</button>
									</form>
							   </div>
							</div>
						</div>
						<div class="row">
							<% if(comment.replies.length > 0){ %>
									<% comment.replies.forEach(function(reply){ %>
										<div class="card full-width-responsive rounded-card">
											<div class="card-body">
												<div class="row">
													<div class="col-3">
														<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
														<!-- Days, minutes or hours based on the time that comment was posted -->
														<% if(moment.duration(moment(new Date()).diff(reply.createdDate)).hours() === 0){ %>
															<% if(moment.duration(moment(new Date()).diff(reply.createdDate)).minutes() <= 1){ %>
																<p class="text-secondary text-center font-size-responsive">
																	<%= moment.duration(moment(new Date()).diff(reply.createdDate)).minutes() %> minute ago
																</p>
															<% }else{ %>
																<p class="text-secondary text-center font-size-responsive">
																	<%= moment.duration(moment(new Date()).diff(reply.createdDate)).minutes() %> minutes ago
																</p>
															<% } %>
														<% }else if(moment.duration(moment(new Date()).diff(reply.createdDate)).days() === 0){ %>
															<% if(moment.duration(moment(new Date()).diff(reply.createdDate)).hours() === 1){ %>
																<p class="text-secondary text-center font-size-responsive">
																	<%= moment.duration(moment(new Date()).diff(reply.createdDate)).hours() %> hour ago
																</p>
															<% }else{ %>
																<p class="text-secondary text-center font-size-responsive">
																	<%= moment.duration(moment(new Date()).diff(reply.createdDate)).hours() %> hours ago
																</p>
															<% } %>
														<% }else{ %>
															<% if(moment.duration(moment(new Date()).diff(reply.createdDate)).days() === 1){ %>
																<p class="text-secondary text-center font-size-responsive">
																	<%= moment.duration(moment(new Date()).diff(reply.createdDate)).days() %> day ago
																</p>
															<% }else{ %>
																<p class="text-secondary text-center font-size-responsive">
																	<%= moment.duration(moment(new Date()).diff(reply.createdDate)).days() %> days ago
																</p>
															<% } %>
														<% } %>
													</div>
													<div class="col-9">
														<span>
															<a href="#"><strong><%=reply.author%></strong></a>
															<div style="margin-bottom: 5px;"></div>
															<p><%= reply.title %></p>
														</span>
													</div>
												</div>	
											</div>
										</div>
									<% }); %>	
							<% } %>
						</div>
						<!-- edit comment route makes foundComment defined -->
						<!-- if the comment for which edit was clicked matches the comment id -->
						<% if(typeof foundComment !== 'undefined' && comment.id === foundComment.id){%>
								<div class="container">
									<div class="card" id="commentCard">
										<div class="card-body form-group">
											<form action="/poems/<%=poem.id%>/comments/<%=comment.id%>?_method=PUT" method="POST">
												<textarea class="form-control" name="comments[title]" rows="3"><%=foundComment.title%></textarea>
												<div class="button-center" id="commentUpdate">
													<button type="submit" class="btn btn-primary">Update</button>
												</div>
											</form>
										</div>
									</div>	
								</div>
						<%}%>
						<!-- reply comment route makes foundCommentForReply defined -->
						<!-- if the comment for which reply was clicked matches the comment id -->
						<% if(typeof foundCommentForReply !== 'undefined' && comment.id === foundCommentForReply.id){%>
								<div class="container">
									<div class="card" id="commentCard">
										<div class="card-body form-group">
											<form action="/poems/<%=poem.id%>/comments/<%=comment.id%>/reply" method="POST">
												<textarea class="form-control" name="title" rows="3"></textarea>
												<div class="button-center" id="commentUpdate">
													<button type="submit" class="btn btn-primary">Reply</button>
												</div>
											</form>
										</div>
									</div>	
								</div>
						<% } %>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
</div>


<%- include("../partials/footer") %>